
.idea/misc.xml
.idea/modules.xml
.idea/SuperMarket_Without_oop2.iml
.idea/workspace.xml
.vs/ProjectSettings.json
.vs/slnx.sqlite
.vs/SuperMarket_Without_oop/config/applicationhost.config
.vs/SuperMarket_Without_oop/v16/.suo
.vs/SuperMarket_Without_oop/v16/Browse.VC.db
.vs/SuperMarket_Without_oop/v16/ipch/AutoPCH/b5951a3a7cce9271/MAIN.ipch
.vs/SuperMarket_Without_oop/v16/ipch/AutoPCH/d73bb0a3044c4dad/MAIN.ipch
.vs/SuperMarket_Without_oop/v16/ipch/AutoPCH/fc727e486f2f8290/STORAGEMANAGEMENT.ipch
.vs/VSWorkspaceState.json
cmake-build-debug/CMakeFiles/clion-log.txt
CppProperties.json
Customers.csv
obj/Debug/CartManagement.o
obj/Debug/ConvertionsSystem.o
obj/Debug/main.o
obj/Debug/MainManuManagement.o
obj/Debug/MainMenuManagement.o
obj/Debug/ProductManagement.o
obj/Debug/StorageManagement.o
ProductCatalog.csv
start.bat
SuperMarket_Without_oop.depend
SuperMarket_Without_oop.layout
test.csv
